{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Login
                </h1>
                <h2 class="subtitle">
                    Please sign in
                </h2>
            </div>
        </div>
    </section>
    <section class="container" style="margin-top: 2em">
        <form method="post">

            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input name="username" class="input is-success" type="text" placeholder="Username"
                           value="{{ last_username }}"
                           id="inputUsername" required autofocus>
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                </div>
                {#<p class="help is-success">This username is available</p>#}
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input name="password" class="input is-success" type="password" placeholder="Password" value=""
                           id="inputPassword" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                </div>
                {#<p class="help is-success">This username is available</p>#}
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div>
                <label class="checkbox">
                    <input type="checkbox" name="_remember_me">
                    Remember me
                </label>
            </div>
            <div style="margin-top:1em">
                <button class="button is-primary" type="submit">
                    Sign in
                </button>
            </div>

            {% if error %}
                <div class="notification is-danger"
                     style="margin-top: 2em">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </form>
    </section>

{% endblock %}
