{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Reset password
                </h1>
                <h2 class="subtitle">
                    Changing password for user {{ user_name }}
                </h2>
            </div>
        </div>
    </section>
    <section class="container" style="margin-top: 2em">
        <form action="{{ path('change_password') }}" method="post">
            <div class="field">
                <label class="label">New password</label>
                <div class="control has-icons-left has-icons-right">
                    <input name="password1" class="input is-success" type="password" placeholder="New password" value=""
                           id="inputPassword1" required autofocus>
                    <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>

            {#<div class="field">#}
            {#<label class="label">Confirm password</label>#}
            {#<div class="control has-icons-left has-icons-right">#}
            {#<input name="password2" class="input is-success" type="password" placeholder="Confirm password"#}
            {#value=""#}
            {#id="inputPassword2" required>#}
            {#<span class="icon is-small is-left">#}
            {#<i class="fas fa-key"></i>#}
            {#</span>#}
            {#</div>#}
            {#</div>#}

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div style="margin-top:1em">
                <button class="button is-primary" type="submit">
                    Submit
                </button>
            </div>

        </form>
    </section>

{% endblock %}
