<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    {% endblock %}
</head>
<body>
<nav class="navbar container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path('index') }}">
                Home
            </a>
            {% if is_granted('ROLE_USER') %}
                <a class="navbar-item" href="{{ path('reset_password') }}">
                    Reset password
                </a>
            {% endif %}
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if not is_granted('ROLE_USER') %}
                        <a class="button is-light" href=" {{ path('app_login') }}">
                            Log in
                        </a>
                    {% else %}
                        <a class="button is-light" href=" {{ path('app_logout') }}">
                            Log out
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}
</body>
</html>
